@media only screen and (min-width:1030px) {
	nav#revealList {
		display: none;
		position: relative;
		width: 100%;
		text-align: center;
		-webkit-transform-origin: 50% 50% 0;
		transform-origin: 50% 50% 0;
		transform: translate(50px, 0);
		float: right;
		top: -50px;
		right: 0;
		z-index: 1000;
		opacity: .9
	}

	nav#revealList ul#revealNav li {
		list-style: none;
		display: inline-block;
		oveflow: hidden
	}

	nav#revealList ul#revealNav li a {
		cursor: pointer;
		display: block;
		padding: 10px 40px;
		text-decoration: none;
		font-size: 18px;
		position: relative;
		color: rgba(255, 255, 255, .8);
		transform: translateX(-15%);
		border-radius: 2px;
		width: 130%;
		text-align: center;
		transition-duration: .25s
	}

	nav#revealList ul#revealNav li a:hover {
		color: #fff
	}

	nav#revealList ul#revealNav li.active a {
		color: #fff
	}

	nav#revealList ul#revealNav li:nth-child(1) a {
		background-color: #0e66d9;
		z-index: 21
	}

	nav#revealList ul#revealNav li:nth-child(2n) a {
		background-color: #0d60cc
	}

	nav#revealList ul#revealNav li:nth-child(3n) a {
		background-color: #0b54b2
	}

	nav#revealList ul#revealNav li:nth-child(4n) a {
		background-color: #09428c;
		z-index: 10
	}

	nav#revealList ul#revealNav li:nth-child(5n) a {
		background-color: #05244c
	}

	nav#revealList div.dot {
		background-color: #fff;
		width: 20px;
		height: 4px;
		position: absolute;
		bottom: -20px;
		right: -10%;
		border-radius: 0;
		transition-duration: .5s;
		float: left
	}

	span.open-icon {
		position: fixed;
		cursor: pointer;
		top: 2%;
		right: 1%
	}

	span.close-icon {
		position: relative;
		visibility: hidden;
		cursor: pointer;
		top: 2%;
		right: 1%
	}

	.open-close {
		position: fixed;
		height: 110px;
		width: 110px;
		top: 0;
		right: 0;
		background-color: transparent;
		z-index: 1001
	}

	.open-close:before {
		content: '';
		border-left: 60px solid transparent;
		border-bottom: 60px solid transparent;
		border-top: 60px solid #0e1521;
		border-right: 60px solid #0e1521;
		position: fixed;
		background-color: transparent;
		top: 0;
		right: 0
	}

	li#five:before {
		content: '';
		border-left: 22px solid transparent;
		border-bottom: 22px solid transparent;
		border-top: 22px solid #05244c;
		border-right: 22px solid #05244c;
		position: fixed;
		background-color: transparent;
		top: -1px;
		left: -72px
	}

	li#five:after {
		content: '';
		border-left: 22px solid transparent;
		border-bottom: 22px solid transparent;
		border-top: 22px solid #09428c;
		border-right: 22px solid #09428c;
		position: fixed;
		background-color: transparent;
		top: -1px;
		left: 125px
	}

	li#four:after {
		content: '';
		border-left: 22px solid transparent;
		border-bottom: 22px solid transparent;
		border-top: 22px solid #0b54b2;
		border-right: 22px solid #0b54b2;
		position: fixed;
		background-color: transparent;
		top: -1px;
		left: 125px;
		z-index: 12
	}

	li#three:after {
		content: '';
		border-left: 22px solid transparent;
		border-bottom: 22px solid transparent;
		border-top: 22px solid #0d60cc;
		border-right: 22px solid #0d60cc;
		position: fixed;
		background-color: transparent;
		top: -1px;
		left: 125px;
		z-index: 12
	}

	li#three:before {
		content: '';
		border-left: 22px solid transparent;
		border-bottom: 22px solid transparent;
		border-top: 22px solid #0e66d9;
		border-right: 22px solid #0e66d9;
		position: fixed;
		background-color: transparent;
		top: -1px;
		left: 270px
	}

	li#two:before {
		content: '';
		border-left: 22px solid transparent;
		border-bottom: 22px solid transparent;
		border-top: 22px solid #0e1521;
		border-right: 22px solid #0e1521;
		position: fixed;
		background-color: transparent;
		top: -1px;
		left: 319px
	}

}

@media only screen and (max-width:1030px) {
	.nav-container {
		display: none
	}

}